<a href="https://colab.research.google.com/github/doodeck/popes-spark/blob/main/Popes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Complete list of Popes Data Analysis

In [1]:
!pip install pyspark
!pip install -U -q PyDrive
!apt install openjdk-8-jdk-headless -qq
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)
The following additional packages will be installed:
  libxtst6 openjdk-8-jre-headless
Suggested packages:
  openjdk-8-demo openjdk-8-source libnss-mdns fonts-dejavu-extra fonts-nanum
  fonts-ipafont-gothic fonts-ipafont-mincho fonts-wqy-microhei
  fonts-wqy-zenhei fonts-indic
The following NEW packages will be installed:
  libxtst6 openjdk-8-jdk-headless openjdk-8-jre-headless
0 upgraded, 3 newly installed, 0 to remove and 35 not upgraded.
Need to get 39.7 MB of archives.
After this operation, 144 MB of additional disk space will be used.
Selecting previously unselected package libxtst6:amd64.
(Reading database ... 126111 files and directories currently installed.)
Preparing to unpack .../libxtst6_2%3a1.2.3-1build4_amd64.deb ...
Unpacking libxtst6:amd64 (2:1.2.3-1build4) ...
Selecting previously unselected package openjdk-8-jre-headless:amd64.
Preparing to unpack .../openjdk-8-jre-headless_8u452-ga~us1-0ubuntu1~22.04_amd64.deb ...
Unpacking openjdk-8-jre-headless:amd64 (8u452-ga~us1-0ubuntu1~22.04) ...
Selecting previously unselected package openjdk-8-jdk-headless:amd64.
Preparing to unpack .../openjdk-8-jdk-headless_8u452-ga~us1-0ubuntu1~22.04_amd64.deb ...
Unpacking openjdk-8-jdk-headless:amd64 (8u452-ga~us1-0ubuntu1~22.04) ...
Setting up libxtst6:amd64 (2:1.2.3-1build4) ...
Setting up openjdk-8-jre-headless:amd64 (8u452-ga~us1-0ubuntu1~22.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/orbd to provide /usr/bin/orbd (orbd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/servertool to provide /usr/bin/servertool (servertool) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/tnameserv to provide /usr/bin/tnameserv (tnameserv) in auto mode
Setting up openjdk-8-jdk-headless:amd64 (8u452-ga~us1-0ubuntu1~22.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/clhsdb to provide /usr/bin/clhsdb (clhsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/extcheck to provide /usr/bin/extcheck (extcheck) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/hsdb to provide /usr/bin/hsdb (hsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/idlj to provide /usr/bin/idlj (idlj) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/javah to provide /usr/bin/javah (javah) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jhat to provide /usr/bin/jhat (jhat) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jsadebugd to provide /usr/bin/jsadebugd (jsadebugd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/native2ascii to provide /usr/bin/native2ascii (native2ascii) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/schemagen to provide /usr/bin/schemagen (schemagen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsgen to provide /usr/bin/wsgen (wsgen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsimport to provide /usr/bin/wsimport (wsimport) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/xjc to provide /usr/bin/xjc (xjc) in auto mode
Processing triggers for libc-bin (2.35-0ubuntu3.8) ...
/sbin/ldconfig.real: /usr/local/lib/libumf.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_loader.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm_debug.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libhwloc.so.15 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_opencl.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero.so.0 is not a symbolic link

In [2]:
!(mkdir data ; cd data ; rm popes.csv ; wget "https://raw.githubusercontent.com/doodeck/popes-spark/main/data/popes.csv" )
!ls -ltraR data/

rm: cannot remove 'popes.csv': No such file or directory
--2025-06-15 05:48:02--  https://raw.githubusercontent.com/doodeck/popes-spark/main/data/popes.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 38169 (37K) [text/plain]
Saving to: ‘popes.csv’

popes.csv           100%[===================>]  37.27K  --.-KB/s    in 0.02s

2025-06-15 05:48:02 (2.24 MB/s) - ‘popes.csv’ saved [38169/38169]

data/:
total 48
drwxr-xr-x 1 root root  4096 Jun 15 05:48 ..
drwxr-xr-x 2 root root  4096 Jun 15 05:48 .
-rw-r--r-- 1 root root 38169 Jun 15 05:48 popes.csv

In [3]:
from pyspark.sql import (SparkSession, functions as F)

# Creates a session on a local master
spark = SparkSession.builder.appName("Orders analytics") \
    .master("local[*]").config("spark.ui.port", "4050").getOrCreate()
spark

In [7]:
!curl https://loca.lt/mytunnelpassword

34.106.43.250

In [4]:
# set up a tunnel to spark UI
!node --version
cmd = 'npx localtunnel --port 4050 > tunnel.txt &'
get_ipython().system_raw(cmd)
!sleep 10
!cat tunnel.txt

v20.19.0
your url is: https://orange-kids-taste.loca.lt

In [5]:
from pyspark.sql.types import (StructType, StructField,
                               StringType, IntegerType)

def main(spark):
    path = "./data/"
    filename = "popes.csv"

    # describe schema
    schema = StructType([StructField('pontificate', StringType(), False),
                        StructField('startYear', IntegerType(), False),
                        StructField('endYear', IntegerType(), False),
                        StructField('yearsAndDays', StringType(), False),
                        StructField('days', IntegerType(), False),
                        StructField('engName', StringType(), False),
                        StructField('regName', StringType(), False),
                        StructField('persName', StringType(), False),
                        StructField('placeBirth', StringType(), False),
                        StructField('countryBirth', StringType(), False),
                        StructField('ageStart', IntegerType(), False),
                        StructField('ageEnd', IntegerType(), False),
                        StructField('comments', StringType(), False)])

    # Reads a CSV file with header, called orders.csv,
    # stores it in a dataframe
    df = spark.read.format("csv") \
        .option("header", True) \
        .schema(schema) \
        .load(path + filename)

    # df.cache() # creates an entry in Spark storage
    df.show()
    df.printSchema()

    #purify the column names

    # Analyse with SQL

    df.createOrReplaceTempView("popes")

    sql_df = spark.sql('''
      desc popes
    ''')
    sql_df.show(20)


# setting log level, update this as per your requirement
spark.sparkContext.setLogLevel("warn")

main(spark)

+--------------------+---------+-------+--------------------+-----+--------------------+-----------+--------------------+--------------------+------------+--------+------+--------------------+
|         pontificate|startYear|endYear|        yearsAndDays| days|             engName|    regName|            persName|          placeBirth|countryBirth|ageStart|ageEnd|            comments|
+--------------------+---------+-------+--------------------+-----+--------------------+-----------+--------------------+--------------------+------------+--------+------+--------------------+
|          30 - 64/67|       30|     64|      34 to 37 years|13505|           St. Peter|     PETRUS|Simon Peter, Sime...|  Bethsaida, Galilea|      Israel|    NULL|  NULL|                NULL|
| 64/67(?) - 76/79(?)|       64|     76|            12 years| 4380|           St. Linus|      LINUS|               Linus|Tuscia (Central T...|       Italy|    NULL|  NULL|                NULL|
|       76/79(?) - 88|       76|     92| 12 years or 9 years| 4380|St. Anacletus (Cl...|  ANACLETUS|           Anacletus|     Probably Greece|      Greece|    NULL|  NULL|                NULL|
|          88/92 - 97|       88|     97|                NULL| NULL|       St. Clement I|    CLEMENS|             Clement|                Rome|       Italy|    NULL|  NULL|                NULL|
|     97/99 - 105/107|       97|    105|             8 years| 2920|St. Evaristus (Ar...|  EVARISTUS|             Aristus|    Bethlehem, Judea|   West Bank|    NULL|  NULL|                NULL|
|   105/107 - 115/116|      105|    115| 10 years or 9 years| 3650|     St. Alexander I|  ALEXANDER|           Alexander|                Rome|       Italy|    NULL|  NULL|                NULL|
|       115/116 - 125|      115|    125|20 years or 19 years| 7300|        St. Sixtus I|     XYSTUS|                 n.a|      Rome or Greece|      Greece|    NULL|  NULL|                NULL|
|       125 - 136/138|      125|    136|11 years or 13 years| 4745|     St. Telesphorus|TELESPHORUS|                 n.a|              Greece|      Greece|    NULL|  NULL|                NULL|
|   136/138 - 140/142|      136|    140|             4 years| 1460|         St. Hyginus|    HYGINUS|                 n.a|              Greece|      Greece|    NULL|  NULL|                NULL|
|       140/142 - 155|      140|    142|15 years or 13 years| 5475|          St. Pius I|       PIUS|                 n.a|Aquileia, Friuli,...|       Italy|    NULL|  NULL|                NULL|
|           155 - 166|      155|    166|            11 years| 4015|        St. Anicetus|   ANICETUS|                 n.a|        Emesa, Syria|       Syria|    NULL|  NULL|                NULL|
|     c.166 - 174/175|      166|    174|  8 years or 9 years| 3285|          St. Soter |   SOTERIUS|                 n.a|Fondi, Latium, Italy|       Italy|    NULL|  NULL|                NULL|
|       174/175 - 189|      174|    189|15 years or 14 years| 5475|       St. Eleuterus|ELEUTHERIUS|                 n.a|    Nicopoli, Epyrus|      Greece|    NULL|  NULL|                NULL|
|       189 - 198/199|      189|    198| 9 years or 10 years| 3650|        St. Victor I|     VICTOR|                 n.a|     Northern Africa|      Africa|    NULL|  NULL|                NULL|
|           199 - 217|      199|    217|            18 years| 6570|St. Zephyrinus (Z...| ZEPHYRINUS|                 n.a|                Rome|       Italy|    NULL|  NULL|                NULL|
|     c.217 - 222/223|      217|    222|  5 years or 6 years| 2190|     St. Callixtus I|  CALLISTUS|                 n.a|               Spain|       Spain|    NULL|  NULL|                NULL|
|       222/223 - 230|      222|    230|  8 years or 7 years| 2920|         St. Urban I|    URBANUS|                 n.a|                Rome|       Italy|    NULL|  NULL|                NULL|
|21 July 230 - 28 ...|      230|    235|             5 years| 1825|         St. Pontian|  PONTIANUS|                 n.a|                Rome|       Italy|    NULL|  NULL|First pope with f...|
|21 November 235 -...|      235|    236|             44 days|   44|         St. Anterus|    ANTERUS|                 n.a|              Greece|      Greece|    NULL|  NULL|                NULL|
|10 January 236 - ...|      236|    250|            14 years| 5110|          St. Fabian|   FABIANUS|                 n.a|                Rome|       Italy|    NULL|  NULL|                NULL|
+--------------------+---------+-------+--------------------+-----+--------------------+-----------+--------------------+--------------------+------------+--------+------+--------------------+
only showing top 20 rows

root
 |-- pontificate: string (nullable = true)
 |-- startYear: integer (nullable = true)
 |-- endYear: integer (nullable = true)
 |-- yearsAndDays: string (nullable = true)
 |-- days: integer (nullable = true)
 |-- engName: string (nullable = true)
 |-- regName: string (nullable = true)
 |-- persName: string (nullable = true)
 |-- placeBirth: string (nullable = true)
 |-- countryBirth: string (nullable = true)
 |-- ageStart: integer (nullable = true)
 |-- ageEnd: integer (nullable = true)
 |-- comments: string (nullable = true)

+------------+---------+-------+
|    col_name|data_type|comment|
+------------+---------+-------+
| pontificate|   string|   NULL|
|   startYear|      int|   NULL|
|     endYear|      int|   NULL|
|yearsAndDays|   string|   NULL|
|        days|      int|   NULL|
|     engName|   string|   NULL|
|     regName|   string|   NULL|
|    persName|   string|   NULL|
|  placeBirth|   string|   NULL|
|countryBirth|   string|   NULL|
|    ageStart|      int|   NULL|
|      ageEnd|      int|   NULL|
|    comments|   string|   NULL|
+------------+---------+-------+

In [6]:
    sql_df = spark.sql("""
      select count(*) as Number_of_records, max(days) from popes
      -- select max(days) from popes
    """)
    sql_df.show(20)

    sql_df = spark.sql("""
      select * from popes where days = (select max(days) from popes)
    """)
    sql_df.show(20)

    sql_df = spark.sql("""
      select * from popes where days = (select min(days) from popes where days > 0)
    """)
    sql_df.show(20)

    sql_df = spark.sql("""
      select * from popes where countryBirth like 'Poland'
    """)
    sql_df.show(20)

    sql_df = spark.sql("""
      select * from popes where ageStart = (select min(ageStart) from popes where ageStart > 0)
    """)
    sql_df.show(20)

+-----------------+---------+
|Number_of_records|max(days)|
+-----------------+---------+
|              272|    13505|
+-----------------+---------+

+-----------+---------+-------+--------------+-----+---------+-------+--------------------+------------------+------------+--------+------+--------+
|pontificate|startYear|endYear|  yearsAndDays| days|  engName|regName|            persName|        placeBirth|countryBirth|ageStart|ageEnd|comments|
+-----------+---------+-------+--------------+-----+---------+-------+--------------------+------------------+------------+--------+------+--------+
| 30 - 64/67|       30|     64|34 to 37 years|13505|St. Peter| PETRUS|Simon Peter, Sime...|Bethsaida, Galilea|      Israel|    NULL|  NULL|    NULL|
+-----------+---------+-------+--------------+-----+---------+-------+--------------------+------------------+------------+--------+------+--------+

+--------------------+---------+-------+------------+----+---------+----------------+--------------------+------------------+------------+--------+------+--------------------+
|         pontificate|startYear|endYear|yearsAndDays|days|  engName|         regName|            persName|        placeBirth|countryBirth|ageStart|ageEnd|            comments|
+--------------------+---------+-------+------------+----+---------+----------------+--------------------+------------------+------------+--------+------+--------------------+
|15 September 1590...|     1590|   1590|     12 days|  12|Urban VII|URBANUS Septimus|Giovanni Battista...|Rome, Papal States|       Italy|      69|    69|Shortest-reigning...|
+--------------------+---------+-------+------------+----+---------+----------------+--------------------+------------------+------------+--------+------+--------------------+

+--------------------+---------+-------+--------------------+----+--------------------+--------------------+-------------------+----------------+------------+--------+------+--------+
|         pontificate|startYear|endYear|        yearsAndDays|days|             engName|             regName|           persName|      placeBirth|countryBirth|ageStart|ageEnd|comments|
+--------------------+---------+-------+--------------------+----+--------------------+--------------------+-------------------+----------------+------------+--------+------+--------+
|16 October 1978 -...|     1978|   2005|26 years and 168 ...|9658|Ven. John Paul II...|IOANNES PAULUS Se...|Karol Jozef Wojtyla|Wadowice, Poland|      Poland|      58|    84|    NULL|
+--------------------+---------+-------+--------------------+----+--------------------+--------------------+-------------------+----------------+------------+--------+------+--------+

+--------------------+---------+-------+--------------------+----+-------+-----------+--------------------+--------------------+------------+--------+------+--------+
|         pontificate|startYear|endYear|        yearsAndDays|days|engName|    regName|            persName|          placeBirth|countryBirth|ageStart|ageEnd|comments|
+--------------------+---------+-------+--------------------+----+-------+-----------+--------------------+--------------------+------------+--------+------+--------+
|9 March 1513 - 1 ...|     1513|   1521|8 years and 267 days|3187|  Leo X|LEO Decimus|Giovanni di Loren...|Florence, Republi...|       Italy|      37|    45|    NULL|
+--------------------+---------+-------+--------------------+----+-------+-----------+--------------------+--------------------+------------+--------+------+--------+