<a href="https://colab.research.google.com/github/doodeck/popes-spark/blob/main/Popes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Complete list of Popes Data Analysis

In [ ]:
!pip install pyspark
!pip install -U -q PyDrive
!apt install openjdk-8-jdk-headless -qq
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

In [30]:
!(mkdir data ; cd data ; rm popes.csv ; wget "https://raw.githubusercontent.com/doodeck/popes-spark/main/data/popes.csv" )
!ls -ltraR data/

mkdir: cannot create directory ‘data’: File exists
--2020-10-25 16:13:04--  https://raw.githubusercontent.com/doodeck/popes-spark/main/data/popes.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 38169 (37K) [text/plain]
Saving to: ‘popes.csv’

popes.csv           100%[===================>]  37.27K  --.-KB/s    in 0.009s

2020-10-25 16:13:04 (3.90 MB/s) - ‘popes.csv’ saved [38169/38169]

data/:
total 48
drwxr-xr-x 1 root root  4096 Oct 25 14:45 ..
drwxr-xr-x 2 root root  4096 Oct 25 16:13 .
-rw-r--r-- 1 root root 38169 Oct 25 16:13 popes.csv

In [31]:
from pyspark.sql import (SparkSession, functions as F)

# Creates a session on a local master
spark = SparkSession.builder.appName("Orders analytics") \
    .master("local[*]").config("spark.ui.port", "4050").getOrCreate()
spark

In [4]:
# set up a tunnel to spark UI
!node --version
cmd = 'npx localtunnel --port 4050 > tunnel.txt &'
get_ipython().system_raw(cmd)
!sleep 10
!cat tunnel.txt

v12.14.1
your url is: https://sour-earwig-8.loca.lt

In [9]:
from pyspark.sql.types import (StructType, StructField,
                               StringType, IntegerType)

def main(spark):
    path = "./data/"
    filename = "popes.csv"

    # describe schema
    schema = StructType([StructField('pontificate', StringType(), False),
                        StructField('startYear', IntegerType(), False),
                        StructField('endYear', IntegerType(), False),
                        StructField('yearsAndDays', StringType(), False),
                        StructField('days', IntegerType(), False),
                        StructField('engName', StringType(), False),
                        StructField('regName', StringType(), False),
                        StructField('persName', StringType(), False),
                        StructField('placeBirth', StringType(), False),
                        StructField('countryBirth', StringType(), False),
                        StructField('ageStart', IntegerType(), False),
                        StructField('ageEnd', IntegerType(), False),
                        StructField('comments', StringType(), False)])

    # Reads a CSV file with header, called orders.csv,
    # stores it in a dataframe
    df = spark.read.format("csv") \
        .option("header", True) \
        .schema(schema) \
        .load(path + filename)

    # df.cache() # creates an entry in Spark storage
    df.show()
    df.printSchema()

    #purify the column names

    # Analyse with SQL

    df.createOrReplaceTempView("popes")

    sql_df = spark.sql('''
      desc popes
    ''')
    sql_df.show(20)


# setting log level, update this as per your requirement
spark.sparkContext.setLogLevel("warn")

main(spark)

+--------------------+---------+-------+--------------------+-----+--------------------+-----------+--------------------+--------------------+------------+--------+------+--------------------+
|         pontificate|startYear|endYear|        yearsAndDays| days|             engName|    regName|            persName|          placeBirth|countryBirth|ageStart|ageEnd|            comments|
+--------------------+---------+-------+--------------------+-----+--------------------+-----------+--------------------+--------------------+------------+--------+------+--------------------+
|          30 - 64/67|       30|     64|      34 to 37 years|13505|           St. Peter|     PETRUS|Simon Peter, Sime...|  Bethsaida, Galilea|      Israel|    null|  null|                null|
| 64/67(?) - 76/79(?)|       64|     76|            12 years| 4380|           St. Linus|      LINUS|               Linus|Tuscia (Central T...|       Italy|    null|  null|                null|
|       76/79(?) - 88|       76|     92| 12 years or 9 years| 4380|St. Anacletus (Cl...|  ANACLETUS|           Anacletus|     Probably Greece|      Greece|    null|  null|                null|
|          88/92 - 97|       88|     97|                null| null|       St. Clement I|    CLEMENS|             Clement|                Rome|       Italy|    null|  null|                null|
|     97/99 - 105/107|       97|    105|             8 years| 2920|St. Evaristus (Ar...|  EVARISTUS|             Aristus|    Bethlehem, Judea|   West Bank|    null|  null|                null|
|   105/107 - 115/116|      105|    115| 10 years or 9 years| 3650|     St. Alexander I|  ALEXANDER|           Alexander|                Rome|       Italy|    null|  null|                null|
|       115/116 - 125|      115|    125|20 years or 19 years| 7300|        St. Sixtus I|     XYSTUS|                 n.a|      Rome or Greece|      Greece|    null|  null|                null|
|       125 - 136/138|      125|    136|11 years or 13 years| 4745|     St. Telesphorus|TELESPHORUS|                 n.a|              Greece|      Greece|    null|  null|                null|
|   136/138 - 140/142|      136|    140|             4 years| 1460|         St. Hyginus|    HYGINUS|                 n.a|              Greece|      Greece|    null|  null|                null|
|       140/142 - 155|      140|    142|15 years or 13 years| 5475|          St. Pius I|       PIUS|                 n.a|Aquileia, Friuli,...|       Italy|    null|  null|                null|
|           155 - 166|      155|    166|            11 years| 4015|        St. Anicetus|   ANICETUS|                 n.a|        Emesa, Syria|       Syria|    null|  null|                null|
|     c.166 - 174/175|      166|    174|  8 years or 9 years| 3285|          St. Soter |   SOTERIUS|                 n.a|Fondi, Latium, Italy|       Italy|    null|  null|                null|
|       174/175 - 189|      174|    189|15 years or 14 years| 5475|       St. Eleuterus|ELEUTHERIUS|                 n.a|    Nicopoli, Epyrus|      Greece|    null|  null|                null|
|       189 - 198/199|      189|    198| 9 years or 10 years| 3650|        St. Victor I|     VICTOR|                 n.a|     Northern Africa|      Africa|    null|  null|                null|
|           199 - 217|      199|    217|            18 years| 6570|St. Zephyrinus (Z...| ZEPHYRINUS|                 n.a|                Rome|       Italy|    null|  null|                null|
|     c.217 - 222/223|      217|    222|  5 years or 6 years| 2190|     St. Callixtus I|  CALLISTUS|                 n.a|               Spain|       Spain|    null|  null|                null|
|       222/223 - 230|      222|    230|  8 years or 7 years| 2920|         St. Urban I|    URBANUS|                 n.a|                Rome|       Italy|    null|  null|                null|
|21 July 230 - 28 ...|      230|    235|             5 years| 1825|         St. Pontian|  PONTIANUS|                 n.a|                Rome|       Italy|    null|  null|First pope with f...|
|21 November 235 -...|      235|    236|             44 days|   44|         St. Anterus|    ANTERUS|                 n.a|              Greece|      Greece|    null|  null|                null|
|10 January 236 - ...|      236|    250|            14 years| 5110|          St. Fabian|   FABIANUS|                 n.a|                Rome|       Italy|    null|  null|                null|
+--------------------+---------+-------+--------------------+-----+--------------------+-----------+--------------------+--------------------+------------+--------+------+--------------------+
only showing top 20 rows

root
 |-- pontificate: string (nullable = true)
 |-- startYear: integer (nullable = true)
 |-- endYear: integer (nullable = true)
 |-- yearsAndDays: string (nullable = true)
 |-- days: integer (nullable = true)
 |-- engName: string (nullable = true)
 |-- regName: string (nullable = true)
 |-- persName: string (nullable = true)
 |-- placeBirth: string (nullable = true)
 |-- countryBirth: string (nullable = true)
 |-- ageStart: integer (nullable = true)
 |-- ageEnd: integer (nullable = true)
 |-- comments: string (nullable = true)

+------------+---------+-------+
|    col_name|data_type|comment|
+------------+---------+-------+
| pontificate|   string|   null|
|   startYear|      int|   null|
|     endYear|      int|   null|
|yearsAndDays|   string|   null|
|        days|      int|   null|
|     engName|   string|   null|
|     regName|   string|   null|
|    persName|   string|   null|
|  placeBirth|   string|   null|
|countryBirth|   string|   null|
|    ageStart|      int|   null|
|      ageEnd|      int|   null|
|    comments|   string|   null|
+------------+---------+-------+

In [37]:
    sql_df = spark.sql("""
      select count(*) as Number_of_records, max(days) from popes
      -- select max(days) from popes
    """)
    sql_df.show(20)

    sql_df = spark.sql("""
      select * from popes where days = (select max(days) from popes)
    """)
    sql_df.show(20)

    sql_df = spark.sql("""
      select * from popes where days = (select min(days) from popes where days > 0)
    """)
    sql_df.show(20)

    sql_df = spark.sql("""
      select * from popes where countryBirth like 'Poland'
    """)
    sql_df.show(20)

    sql_df = spark.sql("""
      select * from popes where ageStart = (select min(ageStart) from popes where ageStart > 0)
    """)
    sql_df.show(20)

+-----------------+---------+
|Number_of_records|max(days)|
+-----------------+---------+
|              272|    13505|
+-----------------+---------+

+-----------+---------+-------+--------------+-----+---------+-------+--------------------+------------------+------------+--------+------+--------+
|pontificate|startYear|endYear|  yearsAndDays| days|  engName|regName|            persName|        placeBirth|countryBirth|ageStart|ageEnd|comments|
+-----------+---------+-------+--------------+-----+---------+-------+--------------------+------------------+------------+--------+------+--------+
| 30 - 64/67|       30|     64|34 to 37 years|13505|St. Peter| PETRUS|Simon Peter, Sime...|Bethsaida, Galilea|      Israel|    null|  null|    null|
+-----------+---------+-------+--------------+-----+---------+-------+--------------------+------------------+------------+--------+------+--------+

+--------------------+---------+-------+------------+----+---------+----------------+--------------------+------------------+------------+--------+------+--------------------+
|         pontificate|startYear|endYear|yearsAndDays|days|  engName|         regName|            persName|        placeBirth|countryBirth|ageStart|ageEnd|            comments|
+--------------------+---------+-------+------------+----+---------+----------------+--------------------+------------------+------------+--------+------+--------------------+
|15 September 1590...|     1590|   1590|     12 days|  12|Urban VII|URBANUS Septimus|Giovanni Battista...|Rome, Papal States|       Italy|      69|    69|Shortest-reigning...|
+--------------------+---------+-------+------------+----+---------+----------------+--------------------+------------------+------------+--------+------+--------------------+

+--------------------+---------+-------+--------------------+----+--------------------+--------------------+-------------------+----------------+------------+--------+------+--------+
|         pontificate|startYear|endYear|        yearsAndDays|days|             engName|             regName|           persName|      placeBirth|countryBirth|ageStart|ageEnd|comments|
+--------------------+---------+-------+--------------------+----+--------------------+--------------------+-------------------+----------------+------------+--------+------+--------+
|16 October 1978 -...|     1978|   2005|26 years and 168 ...|9658|Ven. John Paul II...|IOANNES PAULUS Se...|Karol Jozef Wojtyla|Wadowice, Poland|      Poland|      58|    84|    null|
+--------------------+---------+-------+--------------------+----+--------------------+--------------------+-------------------+----------------+------------+--------+------+--------+

+--------------------+---------+-------+--------------------+----+-------+-----------+--------------------+--------------------+------------+--------+------+--------+
|         pontificate|startYear|endYear|        yearsAndDays|days|engName|    regName|            persName|          placeBirth|countryBirth|ageStart|ageEnd|comments|
+--------------------+---------+-------+--------------------+----+-------+-----------+--------------------+--------------------+------------+--------+------+--------+
|9 March 1513 - 1 ...|     1513|   1521|8 years and 267 days|3187|  Leo X|LEO Decimus|Giovanni di Loren...|Florence, Republi...|       Italy|      37|    45|    null|
+--------------------+---------+-------+--------------------+----+-------+-----------+--------------------+--------------------+------------+--------+------+--------+