<a href="https://colab.research.google.com/github/doodeck/popes-spark/blob/main/Popes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Complete list of Popes Data Analysis

In [1]:
!pip install pyspark
!pip install -U -q PyDrive
!apt install openjdk-8-jdk-headless -qq
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/f0/26/198fc8c0b98580f617cb03cb298c6056587b8f0447e20fa40c5b634ced77/pyspark-3.0.1.tar.gz (204.2MB)
     |████████████████████████████████| 204.2MB 66kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 43.4MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612243 sha256=d87752fa5c8c36e5c45b7cbfd2d7519346ecdc0912d146b10d91e7591bd8bd29
  Stored in directory: /root/.cache/pip/wheels/5e/bd/07/031766ca628adec8435bb40f0bd83bb676ce65ff4007f8e73f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.1
The following additional packages will be installed:
  openjdk-8-jre-headless
Suggested packages:
  openjdk-8-demo openjdk-8-source libnss-mdns fonts-dejavu-extra
  fonts-ipafont-gothic fonts-ipafont-mincho fonts-wqy-microhei
  fonts-wqy-zenhei fonts-indic
The following NEW packages will be installed:
  openjdk-8-jdk-headless openjdk-8-jre-headless
0 upgraded, 2 newly installed, 0 to remove and 21 not upgraded.
Need to get 35.8 MB of archives.
After this operation, 140 MB of additional disk space will be used.
Selecting previously unselected package openjdk-8-jre-headless:amd64.
(Reading database ... 144611 files and directories currently installed.)
Preparing to unpack .../openjdk-8-jre-headless_8u265-b01-0ubuntu2~18.04_amd64.deb ...
Unpacking openjdk-8-jre-headless:amd64 (8u265-b01-0ubuntu2~18.04) ...
Selecting previously unselected package openjdk-8-jdk-headless:amd64.
Preparing to unpack .../openjdk-8-jdk-headless_8u265-b01-0ubuntu2~18.04_amd64.deb ...
Unpacking openjdk-8-jdk-headless:amd64 (8u265-b01-0ubuntu2~18.04) ...
Setting up openjdk-8-jre-headless:amd64 (8u265-b01-0ubuntu2~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/orbd to provide /usr/bin/orbd (orbd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/servertool to provide /usr/bin/servertool (servertool) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/tnameserv to provide /usr/bin/tnameserv (tnameserv) in auto mode
Setting up openjdk-8-jdk-headless:amd64 (8u265-b01-0ubuntu2~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/idlj to provide /usr/bin/idlj (idlj) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsimport to provide /usr/bin/wsimport (wsimport) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jsadebugd to provide /usr/bin/jsadebugd (jsadebugd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/native2ascii to provide /usr/bin/native2ascii (native2ascii) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/javah to provide /usr/bin/javah (javah) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/clhsdb to provide /usr/bin/clhsdb (clhsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jhat to provide /usr/bin/jhat (jhat) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/extcheck to provide /usr/bin/extcheck (extcheck) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/hsdb to provide /usr/bin/hsdb (hsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/schemagen to provide /usr/bin/schemagen (schemagen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/xjc to provide /usr/bin/xjc (xjc) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsgen to provide /usr/bin/wsgen (wsgen) in auto mode

In [2]:
!(mkdir data ; cd data ; wget "https://raw.githubusercontent.com/doodeck/popes-spark/main/data/popes.csv" )
!ls -ltraR data/

--2020-10-25 07:49:28--  https://raw.githubusercontent.com/doodeck/popes-spark/main/data/popes.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 38162 (37K) [text/plain]
Saving to: ‘popes.csv’

popes.csv           100%[===================>]  37.27K  --.-KB/s    in 0.01s

2020-10-25 07:49:28 (2.57 MB/s) - ‘popes.csv’ saved [38162/38162]

.:
total 20
drwxr-xr-x 1 root root 4096 Oct 14 16:31 sample_data
drwxr-xr-x 1 root root 4096 Oct 14 16:32 .config
drwxr-xr-x 1 root root 4096 Oct 25 07:34 ..
drwxr-xr-x 1 root root 4096 Oct 25 07:49 .
drwxr-xr-x 2 root root 4096 Oct 25 07:49 data

./sample_data:
total 55512
-rwxr-xr-x 1 root root      930 Jan  1  2000 README.md
-rwxr-xr-x 1 root root     1697 Jan  1  2000 anscombe.json
-rw-r--r-- 1 root root  1706430 Oct 14 16:31 california_housing_train.csv
-rw-r--r-- 1 root root   301141 Oct 14 16:31 california_housing_test.csv
-rw-r--r-- 1 root root 36523880 Oct 14 16:31 mnist_train_small.csv
drwxr-xr-x 1 root root     4096 Oct 14 16:31 .
-rw-r--r-- 1 root root 18289443 Oct 14 16:32 mnist_test.csv
drwxr-xr-x 1 root root     4096 Oct 25 07:49 ..

./.config:
total 40
drwxr-xr-x 3 root root 4096 Oct 14 16:30 logs
-rw-r--r-- 1 root root    3 Oct 14 16:30 .last_opt_in_prompt.yaml
drwxr-xr-x 2 root root 4096 Oct 14 16:31 configurations
-rw-r--r-- 1 root root    7 Oct 14 16:31 active_config
-rw-r--r-- 1 root root   37 Oct 14 16:31 .last_survey_prompt.yaml
-rw-r--r-- 1 root root  135 Oct 14 16:31 .last_update_check.json
-rw-r--r-- 1 root root    0 Oct 14 16:31 config_sentinel
-rw-r--r-- 1 root root   32 Oct 14 16:32 .metricsUUID
drwxr-xr-x 1 root root 4096 Oct 14 16:32 .
drwxr-xr-x 1 root root 4096 Oct 25 07:49 ..
-rw------- 1 root root    5 Jan  1  2040 gce

./.config/logs:
total 12
drwxr-xr-x 3 root root 4096 Oct 14 16:30 .
drwxr-xr-x 2 root root 4096 Oct 14 16:31 2020.10.14
drwxr-xr-x 1 root root 4096 Oct 14 16:32 ..

./.config/logs/2020.10.14:
total 68
drwxr-xr-x 3 root root  4096 Oct 14 16:30 ..
-rw-r--r-- 1 root root   389 Oct 14 16:31 16.31.10.843101.log
-rw-r--r-- 1 root root 31313 Oct 14 16:31 16.30.50.869240.log
-rw-r--r-- 1 root root   389 Oct 14 16:31 16.31.31.333159.log
-rw-r--r-- 1 root root  9917 Oct 14 16:31 16.31.25.706256.log
-rw-r--r-- 1 root root   620 Oct 14 16:31 16.31.46.824031.log
-rw-r--r-- 1 root root   625 Oct 14 16:31 16.31.46.119103.log
drwxr-xr-x 2 root root  4096 Oct 14 16:31 .

./.config/configurations:
total 12
drwxr-xr-x 2 root root 4096 Oct 14 16:31 .
-rw-r--r-- 1 root root   94 Oct 14 16:31 config_default
drwxr-xr-x 1 root root 4096 Oct 14 16:32 ..

./data:
total 48
drwxr-xr-x 1 root root  4096 Oct 25 07:49 ..
drwxr-xr-x 2 root root  4096 Oct 25 07:49 .
-rw-r--r-- 1 root root 38162 Oct 25 07:49 popes.csv

In [4]:
from pyspark.sql import (SparkSession, functions as F)

# Creates a session on a local master
spark = SparkSession.builder.appName("Orders analytics") \
    .master("local[*]").config("spark.ui.port", "4050").getOrCreate()
spark

In [5]:
# set up a tunnel to spark UI
!node --version
cmd = 'npx localtunnel --port 4050 > tunnel.txt &'
get_ipython().system_raw(cmd)
!sleep 10
!cat tunnel.txt

v12.14.1
your url is: https://green-owl-89.loca.lt

In [14]:
def main(spark):
    path = "./data/"
    filename = "popes.csv"
    # Reads a CSV file with header, called orders.csv,
    # stores it in a dataframe
    data = spark.read.format("csv") \
        .option("header", True) \
        .option("inferSchema", True) \
        .load(path + filename)
    # TODO: impose schema with numbers, dates, etc.

    # df.cache() # creates an entry in Spark storage
    data.show()
    data.printSchema()

    #purify the column names

    # df = data.selectExpr("Name as name", "askdaosdka as age")
    df = data.selectExpr(
        "Pontificate as pontificate",
        "'Start date' as startDate",
        "'End date' as endDate",
        "'Years and days of Pontificate' as yearsAndDays",
        "'Number of days of Pontificate (max)' as days",
        "'English name' as engName",
        "'Regnal name (latin)' as regName",
        "'Personal name' as persName",
        "'Place of birth' as placeBirth",
        "'Modern-day country of birth' as countryBirth",
        "'Age at start of papacy' as ageStart",
        "'Age at end of papacy' as ageEnd",
        "'Comments' as comments"
    )

    '''
    |-- English name: string (nullable = true)
    |-- Regnal name (latin): string (nullable = true)
    |-- : string (nullable = true)
    |-- : string (nullable = true)
    |-- : string (nullable = true)
    |-- : string (nullable = true)
    |-- : string (nullable = true)
    |-- : string (nullable = true)
    '''

    # Analyse with SQL

    df.createOrReplaceTempView("popes")

    sql_df = spark.sql('''
      desc popes
    ''')
    sql_df.show(20)


# setting log level, update this as per your requirement
spark.sparkContext.setLogLevel("warn")

main(spark)

+--------------------+----------+--------+-----------------------------+-----------------------------------+--------------------+-------------------+--------------------+--------------------+---------------------------+----------------------+--------------------+--------------------+
|         Pontificate|Start date|End date|Years and days of Pontificate|Number of days of Pontificate (max)|        English name|Regnal name (latin)|       Personal name|      Place of birth|Modern-day country of birth|Age at start of papacy|Age at end of papacy|            Comments|
+--------------------+----------+--------+-----------------------------+-----------------------------------+--------------------+-------------------+--------------------+--------------------+---------------------------+----------------------+--------------------+--------------------+
|          30 - 64/67|        30|      64|               34 to 37 years|                              13505|           St. Peter|             PETRUS|Simon Peter, Sime...|  Bethsaida, Galilea|                     Israel|                   n.a|                 n.a|                null|
| 64/67(?) - 76/79(?)|        64|      76|                     12 years|                               4380|           St. Linus|              LINUS|               Linus|Tuscia (Central T...|                      Italy|                   n.a|                 n.a|                null|
|       76/79(?) - 88|        76|      92|          12 years or 9 years|                               4380|St. Anacletus (Cl...|          ANACLETUS|           Anacletus|     Probably Greece|                     Greece|                   n.a|                 n.a|                null|
|          88/92 - 97|        88|      97|                         null|                                  ?|       St. Clement I|            CLEMENS|             Clement|                Rome|                      Italy|                   n.a|                 n.a|                null|
|     97/99 - 105/107|        97|     105|                      8 years|                               2920|St. Evaristus (Ar...|          EVARISTUS|             Aristus|    Bethlehem, Judea|                  West Bank|                   n.a|                 n.a|                null|
|   105/107 - 115/116|       105|     115|          10 years or 9 years|                               3650|     St. Alexander I|          ALEXANDER|           Alexander|                Rome|                      Italy|                   n.a|                 n.a|                null|
|       115/116 - 125|       115|     125|         20 years or 19 years|                               7300|        St. Sixtus I|             XYSTUS|                 n.a|      Rome or Greece|                     Greece|                   n.a|                 n.a|                null|
|       125 - 136/138|       125|     136|         11 years or 13 years|                               4745|     St. Telesphorus|        TELESPHORUS|                 n.a|              Greece|                     Greece|                   n.a|                 n.a|                null|
|   136/138 - 140/142|       136|     140|                      4 years|                               1460|         St. Hyginus|            HYGINUS|                 n.a|              Greece|                     Greece|                   n.a|                 n.a|                null|
|       140/142 - 155|       140|     142|         15 years or 13 years|                               5475|          St. Pius I|               PIUS|                 n.a|Aquileia, Friuli,...|                      Italy|                   n.a|                 n.a|                null|
|           155 - 166|       155|     166|                     11 years|                               4015|        St. Anicetus|           ANICETUS|                 n.a|        Emesa, Syria|                      Syria|                   n.a|                 n.a|                null|
|     c.166 - 174/175|       166|     174|           8 years or 9 years|                               3285|          St. Soter |           SOTERIUS|                 n.a|Fondi, Latium, Italy|                      Italy|                   n.a|                 n.a|                null|
|       174/175 - 189|       174|     189|         15 years or 14 years|                               5475|       St. Eleuterus|        ELEUTHERIUS|                 n.a|    Nicopoli, Epyrus|                     Greece|                   n.a|                 n.a|                null|
|       189 - 198/199|       189|     198|          9 years or 10 years|                               3650|        St. Victor I|             VICTOR|                 n.a|     Northern Africa|                     Africa|                   n.a|                 n.a|                null|
|           199 - 217|       199|     217|                     18 years|                               6570|St. Zephyrinus (Z...|         ZEPHYRINUS|                 n.a|                Rome|                      Italy|                   n.a|                 n.a|                null|
|     c.217 - 222/223|       217|     222|           5 years or 6 years|                               2190|     St. Callixtus I|          CALLISTUS|                 n.a|               Spain|                      Spain|                   n.a|                 n.a|                null|
|       222/223 - 230|       222|     230|           8 years or 7 years|                               2920|         St. Urban I|            URBANUS|                 n.a|                Rome|                      Italy|                   n.a|                 n.a|                null|
|21 July 230 - 28 ...|       230|     235|                      5 years|                               1825|         St. Pontian|          PONTIANUS|                 n.a|                Rome|                      Italy|                   n.a|                 n.a|First pope with f...|
|21 November 235 -...|       235|     236|                      44 days|                                 44|         St. Anterus|            ANTERUS|                 n.a|              Greece|                     Greece|                   n.a|                 n.a|                null|
|10 January 236 - ...|       236|     250|                     14 years|                               5110|          St. Fabian|           FABIANUS|                 n.a|                Rome|                      Italy|                   n.a|                 n.a|                null|
+--------------------+----------+--------+-----------------------------+-----------------------------------+--------------------+-------------------+--------------------+--------------------+---------------------------+----------------------+--------------------+--------------------+
only showing top 20 rows

root
 |-- Pontificate: string (nullable = true)
 |-- Start date: string (nullable = true)
 |-- End date: integer (nullable = true)
 |-- Years and days of Pontificate: string (nullable = true)
 |-- Number of days of Pontificate (max): string (nullable = true)
 |-- English name: string (nullable = true)
 |-- Regnal name (latin): string (nullable = true)
 |-- Personal name: string (nullable = true)
 |-- Place of birth: string (nullable = true)
 |-- Modern-day country of birth: string (nullable = true)
 |-- Age at start of papacy: string (nullable = true)
 |-- Age at end of papacy: string (nullable = true)
 |-- Comments: string (nullable = true)

+------------+---------+-------+
|    col_name|data_type|comment|
+------------+---------+-------+
| pontificate|   string|   null|
|   startDate|   string|   null|
|     endDate|   string|   null|
|yearsAndDays|   string|   null|
|        days|   string|   null|
|     engName|   string|   null|
|     regName|   string|   null|
|    persName|   string|   null|
|  placeBirth|   string|   null|
|countryBirth|   string|   null|
|    ageStart|   string|   null|
|      ageEnd|   string|   null|
|    comments|   string|   null|
+------------+---------+-------+